@use '../abstratcs/' as *;

body{
  background: $body-bg;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

