@use '../abstratcs/' as *;

@each $key, $value in $theme-fonts {
  @font-face {
    font-family: Kumbh Sans;
    src: 
      local('Kumbh Sans #{$value}'), local('Kumbh Sans-#{$value}'),
      url('#{$fonts-path}/KumbhSans/KumbhSans-#{$value}.ttf') format('truetype');
    font-style: normal;
    font-weight: #{$key};
    text-rendering: optimizeLegibility;
    font-display: swap;
  }
}
